.progressCircle {
    display: flex;
    align-items: center;
    gap: 5px
}

.sidebarSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    min-height: 50px;
    border: 1px solid rgba(49, 49, 49, 0.71);
    border-left: 3px solid #a486fc;
    border-radius: 3px;
    margin: 5px 0;
    padding: 0 5px 0 8px;
    text-align: start;
    transition: 0.5s;
}

.sidebarSection:hover {
    background-color: rgb(73%, 53%, 99%, 0.04);
    border: 1px solid #9576ba;
    border-left: 3px solid #a486fc;
}

.all {
    text-align: center;
    margin: auto;
}

.activeTodo {
    box-shadow: 0 0 4px #a486fc;
}

.activeTodo:hover {
    background-color: rgb(73%, 53%, 99%, 0.04);
    border: 1px solid #a486fc;
    border-left: 3px solid #a486fc;
}

.hovered {
    border-top: 2px solid #a486fc;
    transition: none;
}