.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(5%, 7%, 9%, 0.8);
    padding: 0 10px;
    overflow-y: scroll;
    width: 300px;
    min-width: 300px;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a486fc;
    color: #1ddecb;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1)
    /*color: linear-gradient(90deg, rgba(114,205,172,1) 0%, rgba(187,134,252,1) 70%);*/
}

.logo p {
    background-clip: text;
    color: transparent;
    /*background-image: linear-gradient(124deg, #a486fc 28%, rgba(29,222,203,1) 97%);*/
    background-image: linear-gradient(124deg, rgba(29, 222, 203, 1) 28%, #a486fc 97%);
}


.user {
    /*color: #a486fc;*/
    letter-spacing: 1px;
}

.sidebarFooter {
    border-top: 1px solid rgba(231, 231, 231, 0.1);
    padding: 20px 0;
    /*position: relative;*/
    /*right: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*color: #e7e7e7;*/
    /*background-color: rgba(231, 231, 231, 0.1);*/

}

.buttonsSwitcher {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
    background-color: rgba(231, 231, 231, 0.1);
    /*background-color: #222428;*/
    /*border: 1px solid rgba(49, 49, 49, 0.71);*/
    margin-bottom: 10px;
    border-radius: 5px;
    height: 50px;
}
.buttonsBlock{
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid rgba(49, 49, 49, 0.71);*/
    /*padding: 10px;*/
    /*margin-bottom: 20px;*/
    flex: 1;
    transition: 0.5s;
}

.activeMode {
    background-color: rgba(232, 232, 232, 0.1);
    border-radius: 5px 0 0 5px;
}
.activeMode:last-child {
    /*background-color: rgba(231, 231, 231, 0.15);*/
    border-radius: 0 5px 5px 0;
}

.buttonContainer:hover {
    background-color: rgba(239, 239, 239, 0.15);
    /*outline: 1px solid #a8a8a8;*/
    border-radius: 5px 0 0 5px;
}
.buttonContainer:last-child:hover {
    border-radius: 0 5px 5px 0;
}

.subTitle {
    text-align: start;
    font-size: 12px;
    margin-bottom: 10px;
    color: #a8a8a8;
    padding: 0 4px;
}