.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 300px;
    min-width: 300px;
    background-color: rgb(5%, 7%, 9%, 0.8);
    padding: 0 10px;
    overflow-y: scroll;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1ddecb;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1)
}

.logo p {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(124deg, rgba(29, 222, 203, 1) 28%, #a486fc 97%);
}

.user {
    letter-spacing: 1px;
}

.sidebarFooter {
    border-top: 1px solid rgba(231, 231, 231, 0.1);
    padding: 20px 0;
}

.buttonsSwitcher {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
    background-color: rgba(231, 231, 231, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
    height: 50px;
}

.buttonsBlock {
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 0.5s;
}

.activeMode {
    background-color: rgba(232, 232, 232, 0.1);
    border-radius: 5px 0 0 5px;
}

.activeMode:last-child {
    border-radius: 0 5px 5px 0;
}

.buttonContainer:hover {
    background-color: rgba(239, 239, 239, 0.15);
    border-radius: 5px 0 0 5px;
}

.buttonContainer:last-child:hover {
    border-radius: 0 5px 5px 0;
}

.subTitle {
    text-align: start;
    font-size: 12px;
    margin-bottom: 10px;
    color: #a8a8a8;
    padding: 0 4px;
}


@media (max-width: 1060px) {
    .direction {
        display: none;
    }
}

@media (max-width: 815px) {
    .sidebar::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 300px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(125 119 138 / 50%);
        z-index: -1;
    }

    .sidebar {
        background-color: rgb(5%, 7%, 9%, 1);
        z-index: 10;
    }
}

@media (max-width: 480px) {
    .sidebar {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(5%, 7%, 9%, 1);
    }

    .sidebar::before {
        content: none;
    }
}