.sidebarSection {
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.sidebarSection:hover {
    background-color: #232323;
}

/*.sidebarSection:nth-child(even){*/
/*    background-color: #232323;*/
/*}*/
.sidebarSection p {
    margin: 0;
}
/*.item{*/
/*    border-bottom: 1px dashed #bb86fc;*/
/*}*/