.sidebarSection {
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    text-align: start;
    gap: 10px;

}

.sidebarSection:hover {
    background-color: #232323;
}

.sidebarSection:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.sidebarSection p {*/

/*    word-break: break-word;*/
/*}*/
