.buttonBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto 30px;
}

.buttonBlock button {
    width: 110px;
}

.tasksBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e7e7e7;
}

.activeFilter {
    box-shadow: 0 0 7px;
}

.noTasksString {
    padding: 12px;
}

.todoContainer {
    width: 500px;
    min-width: 500px;
}

@media (max-width: 550px) {
    .todoContainer {
        width: 300px;
        min-width: 300px;
    }

    .buttonBlock button {
        width: 75px;
        font-size: 0.6rem;
    }
}