.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    display: inline-flex;
    align-items: center;
    background-color: #e7e7e7;
    color: #232323;
    border-radius: 1%;
    box-shadow: 0 0 20px #171717;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

.section button {
    margin: 20px 0;
}

.loginForm h1 {
    color: #a486fc;
}

.divider {
    border: 2px solid #a486fc;
    border-radius: 5px;
    height: 275px;
    z-index: 1;
    position: absolute;
    left: 19px;
}

.formDescription {
    display: flex;
    gap: 10px;
    position: relative;
    background-color: rgb(23 23 23);
    border-radius: 0 1% 1% 0;
    font-size: 18px;
}

.formDescription p {
    color: #e7e7e7;
    margin: 0;
}

.error {
    color: #b23239;
    margin: -7px;
    padding: 0;
    font-size: 10px;
}

.loginForm a {
    color: #a486fc;
}

.loginForm a:visited {
    color: #a486fc;
}

.loginForm a:hover {
    color: #a486fc;
    text-shadow: 0 0 8px;
}

.loginForm a:active {
    color: #5d398a;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #e7e7e7 inset;
}

@media (max-width: 600px) {
    .loginForm {
        flex-direction: column-reverse;
    }

    .section {
        height: 350px;
    }

    .formDescription {
        height: 200px;
        border-radius: 1% 1% 0 0;
    }

    .divider {
        height: 150px;
    }
}

.loginForm form {
    width: 100%;
}

.formControl {
    width: 75%;
}
