.task {
    display: flex;
    align-items: center;
    border-bottom: 1px #a486fc dashed;
    border-bottom: 1px rgba(164, 134, 252, 0.8) dashed;
    width: 80%;
    justify-content: space-between;

}

.taskText {
    color: #e7e7e7;
    font-size: 16px;
    text-align: start;
    /*width: 100%;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*flex-grow: 2;*/
    flex: 1;
}

.boxWithTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    /*width: 100%;*/
}

.delete {
}
button:disabled{
    opacity: 50%;
}
.hovered{
    border-top: 3px solid #a486fc;
}