* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* p, span {
    word-break: break-word;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #181b21;
    color: #e7e7e7;
    text-align: center;
    background-attachment: fixed; /* Фиксирует фон, чтобы он оставался на месте при прокрутке страницы */
    background: radial-gradient(circle 650px at top 5px right 0px, #1b5e60 10%, transparent),
    radial-gradient(circle 300px at bottom 300px left 20px, #1b5e60 30%, transparent),
    radial-gradient(circle 70px at 50% 15%, #273d41, rgba(27, 94, 96, 40%), rgba(27, 94, 96, 25%), rgba(48, 76, 80, 15%), rgba(48, 76, 80, 6%), transparent),
    radial-gradient(ellipse 450px 100px at 50% 100%, #113436 30%, #181b21);
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 0;
}

.loginPage {
    vertical-align: center;
    height: 500px;
}

::selection {
    background-color: #f19787;
    color: white;

}
